/* Color variables... the GTK way */
@define-color blue #4c99e6;
@define-color green #4ce6b3;
@define-color yellow #e6cc4c;
@define-color red #e64c4c;
@define-color orange #ff8847;
@define-color purple #9ba0ff;
@define-color pink #ff8080;

@define-color dark #253035;
@define-color gray #bababa;
@define-color white #ffffff;

* {
  all: unset;
}

window {
  font-family: "UbuntuMono Nerd Font";
  background-color: RGBA(37, 48, 53, 0.75);
}

tooltip {
  background-color: @dark;
  border-radius: 0.25rem;
  padding: 2rem;
}

.modules-right > * > * {
  padding: 0 0.75rem;
  /* border-bottom: solid 2px transparent; */
  border-top: solid 2px;
  font-size: 1rem;
  font-weight: 600;
}

#pulseaudio {
  border-color: @green;
}

#network {
  border-color: @blue;
}

#cpu {
  border-color: @red;
}

#memory {
  border-color: @orange;
}

#battery {
  border-color: @yellow;
}

#workspaces {
  font-size: 1.4rem;
}

#workspaces button {
  padding: 0 0.5rem 0 0.75rem;
  border-top: white solid 2px;
  border-bottom: transparent solid 2px;
  margin: 0 2px;
}

#workspaces button:first-child {
  padding-left: 1.125rem;
  margin-left: 0;
}

#workspaces button.active {
  border-top-color: @purple;
}

#workspaces button:hover {
  border-top-color: @purple;
}

@keyframes urgent {
  0% {
    color: @red;
  }

  50% {
    color: @white;
  }

  100% {
    color: @red;
  }
}

#workspaces button.urgent {
  animation: urgent 100ms ease-in-out infinite;
}

#clock {
  font-family: "Roboto Mono";
  font-size: 1.25rem;
  font-weight: 600;
}

@keyframes battery-warning {
  0% {
    color: @red;
  }
  100% {
    color: @white;
  }
}

#battery.warning:not(.charging) {
  animation: battery-warning infinite 2s;
  background-color: @dark;
}

#battery.charging {
  color: @green;
}

/*
* {
  border: none;
  border-radius: 0;
  font-family: "UbuntuMono Nerd Font";
  font-weight: 600;
  font-size: 1rem;
  min-height: 0;
}

window#waybar {
  background-color: @dark;
}

tooltip {
  border: 0.125rem dashed @white;
  border-radius: 0.5em;
  background-color: RGBA(37, 48, 53, 0.125);
  text-decoration-color: @red;
  text-decoration: underline;
}

tooltip label {
  color: @white;
  font-size: 1rem;
  padding: 0;
}

#workspaces button {
  color: @white;
  padding: 0 0.5em;
  box-shadow: none;
}

#workspaces button * {
  font-size: 1.25rem;
}

#workspaces button:hover {
  text-shadow: unset;
  color: @red;
}

#workspaces button.persistent {
  color: @gray;
  border: solid red 10px;
}

#workspaces button.focused {
  background-color: #64727D;
}

#workspaces button.active {
  color: @pink;
  box-shadow: none;
}

#workspaces button:first-child {
  padding-left: 1em;
}

@keyframes urgent {
  0% {
    color: @red;
  }

  50% {
    color: @white;
    border-color: @white;
  }

  100% {
    color: @red;
    border-color: @pink;
  }
}

#workspaces button.urgent {
  animation: urgent 500ms ease-in-out infinite;
}

#clock {  font-weight: 700;
  padding: 0 0.675em;
}

#clock {
  font-size: 1.125rem;
  font-family: "Roboto Mono";
}

#mode {
  color: @pink;
  padding: 0 0.5em;
}

#window {
  color: @white;
  font-size: 1.125rem;
}

#custom-weather {
	font-family: "Twitter Emoji";
}

#workspaces:focus {
  background-color: red;
}
*/
